// variables
$accentColor: #34a0a4;
$lightAccentColor: lighten($accentColor, 40%);
$lightColor: #f1f2f6;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  display: flex;
  width: 100%;
  background-color: $lightColor;
  padding: 2rem;
}

// header {
//   padding: 2rem;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   background-color: $accentColor;
// }

main {
  width: 100%;
}

.control-bar {
  background-color: #34a0a4;
  min-height: 100rem;
  width: 30%;
  border-radius: 1.5rem;
  max-width: 30rem;

  nav {
    display: flex;
    flex-direction: column;
  }
}

.control-bar__btn {
  padding: 2rem;
  font-weight: 900;
  background-color: $accentColor;
  border: solid 1px darken($accentColor, 15);
  border-width: 0 0 1px 0;
  text-transform: uppercase;

  &:first-child {
    border-width: 1px 0;
  }

  &:hover {
    background-color: $lightAccentColor;
  }
}

#userGreet {
  font-size: 2rem;
}

.welcome-bar {
  background-color: $lightAccentColor;
  padding: 2rem;
  margin: 0 0 2rem 2rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-btn {
  background-color: #faa307;
  width: 10rem;
  border-radius: 1000rem;
  padding: 1.2rem;
  font-weight: 900;

  &:hover {
    background-color: orangered;
  }
}

.trips-board {
  background-color: $accentColor;
  margin: 0 2rem 2rem 2rem;
  border-radius: 1.5rem;
  padding: 1rem;
  width: 40%;
  max-width: 100rem;
}

.trips-board__group {
  background-color: $lightAccentColor;
  min-height: 57rem;
  text-align: center;
  // border: solid 2px black;
}

.trips-board__group--list {
  padding: 2rem;
}

.trips-board__tab {
  padding: 1rem;
  border: 0;
  width: 32.8%;
  max-width: 60rem;
  min-height: 3rem;
  border-radius: 1.5rem 1.5rem 0 0;


  &.active {
    background-color: $lightAccentColor;
  }
}

// .trips-board__tab__num {
 
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // margin: 0 1rem;
  // background-color: #faa307;
  // height: 2rem;
  // width: 2rem;
  // border-radius: 1000rem;
// }

// Trip Card

.tripCard {
  text-align: left;
  background-color: #fff;
  max-width: 40rem;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  margin-bottom: 2rem;
}

.tripCard__img {
  object-fit: fill;
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  object-position: center;
  border-radius: 2rem;
  margin-right: 1rem;
}

.tripCard__info {
  position: relative;
  width: 100%;

  .tripCard__location {
    font-weight: 900;
    font-size: 2rem;
  }

  .tripCard__date {
    font-size: 1.4rem;
    bottom: 0;
  }

  .tripCard__travlers {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
  }

  .tripCard__btn {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3rem;
    width: 3rem;
    background-color: #faa307;
    border-radius: 1000rem;
    padding: 1.2rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &:hover {
      width: auto;
    }
  }
}




// Destination Card

.destCard {
  background-color: white;
  max-width: 20rem;
  padding: 1rem;
  border-radius: 2rem;
  position: relative;
}

.destCard__img {
  width: 100%;
  border-radius: 2rem;
}

.destCard__price {
  display: inline-block;
  border-radius: 100rem;
  background-color: #f1f2f6;
  padding: 0.6rem;

  span {
    font-size: 1.4rem;
    color: grey;
  }
}

.destCard__button {
  background-color: #34a0a4;
  color: white;
  padding: 0.6rem;
  border-radius: 100rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.hidden {
  display: none;
}