// variables
$accentColor: #34a0a4;
$lightAccentColor: lighten($accentColor, 40%);
$lightColor: #f1f2f6;
$backing: #fff;
$mainContentBacking:#f0f0f0;
$standardPadding: 2.5rem;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  display: flex;
  width: 100%;
  background-color: $backing;
  padding: $standardPadding;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: $standardPadding;
  background-color: $mainContentBacking;
  margin: 0 $standardPadding;
  border-radius: 1.5rem;
}

.brand-name {
  font-family: 'Noto Serif', serif;
}

.control-bar {
  background-color: $backing;
  // border: #34a0a4 solid 2px;
  min-height: 100rem;
  width: 13%;
  border-radius: 1.5rem;
  max-width: 30rem;

  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.control-bar__btn {
  padding: $standardPadding;
  font-weight: 900;
  border-radius: 1.5rem;
  background-color: $backing;
  text-transform: uppercase;
  width: 100%;
  text-align: left;

  &:hover {
    background-color: $accentColor;
  }
}


// User Section

.user-section {
  width: 22%;
  border: 2px solid #34a0a4;
}

// DashBoard Content

#userGreet {
  font-size: 2rem;
}

.welcome-bar {
  background-color: $lightAccentColor;
  padding: $standardPadding;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-btn {
  background-color: #faa307;
  width: 10rem;
  border-radius: 1000rem;
  padding: 1.2rem;
  font-weight: 900;

  &:hover {
    background-color: orangered;
  }
}

.destination-board,
.trips-board {
  background-color: $accentColor;
  margin: 2rem 0;
  border-radius: 1.5rem;
  padding: 1rem;
  width: 100%;
  
}

.destination-board__group,
.trips-board__group {
  background-color: $lightAccentColor;
  min-height: 57rem;
  text-align: center;
}

.trips-board__group--list {
  padding: $standardPadding;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $standardPadding

}

.trips-board__tab-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.destination-board__tab,
.trips-board__tab {
  padding: 1rem;
  border: 0;
  min-height: 3rem;
  border-radius: 1.5rem 1.5rem 0 0;


  &.active {
    background-color: $lightAccentColor;
  }
}

// .trips-board__tab__num {
 
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // margin: 0 1rem;
  // background-color: #faa307;
  // height: 2rem;
  // width: 2rem;
  // border-radius: 1000rem;
// }

// Trip Card

.tripCard {
  text-align: left;
  background-color: #fff;
  max-width: 35rem;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  box-shadow: 0 0 .8rem .2rem rgba(0, 0, 0, .2);
}

.tripCard__img {
  object-fit: fill;
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  object-position: center;
  border-radius: 2rem;
  margin-right: 1rem;
}

.tripCard__info {
  position: relative;
  width: 100%;

  .tripCard__location {
    font-weight: 900;
    font-size: 2rem;
  }

  .tripCard__date {
    font-size: 1.4rem;
    bottom: 0;
  }

  .tripCard__travlers {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
  }

  .tripCard__btn {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3rem;
    width: 3rem;
    background-color: #faa307;
    border-radius: 1000rem;
    padding: 1.2rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &:hover {
      width: auto;
    }
  }
}




// Destination Card

.destCard {
  background-color: white;
  max-width: 20rem;
  padding: 1rem;
  border-radius: 2rem;
  position: relative;
  
}

.destCard__img {
  width: 100%;
  border-radius: 2rem;
}

.destCard__price {
  display: inline-block;
  border-radius: 100rem;
  background-color: #f1f2f6;
  padding: 0.6rem;

  span {
    font-size: 1.4rem;
    color: grey;
  }
}

.destCard__button {
  background-color: #34a0a4;
  color: white;
  padding: 0.6rem;
  border-radius: 100rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.hidden {
  display: none;
}