// variables
$accentColor: #34a0a4;
$lightAccentColor: lighten($accentColor, 40%);
$lightColor: #f1f2f6;
$backing: #fff;
$mainContentBacking: #f0f0f0;
$standardPadding: 2.5rem;
$buttonColor: #faa307;
$standardShadow: 0 0 0.8rem 0.2rem rgba(0, 0, 0, 0.2);

// Global Rules

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  display: flex;
  width: 100%;
  background-color: $backing;
  padding: $standardPadding;
}

// Navigation Section

.brand-name {
  font-family: 'Noto Serif', serif;
  margin: 2.5rem;
}

.control-bar {
  background-color: $backing;
  min-height: 100rem;
  width: 13%;
  border-radius: 1.5rem;
  max-width: 30rem;

  padding: 2rem 0;

  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.control-bar__btn {
  padding: $standardPadding;
  font-weight: 900;
  border-radius: 1.5rem;
  background-color: $backing;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  margin: 1rem 0;

  &:hover {
    background-color: $accentColor;
  }
}

// Main Sections - dash, booking, form

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: $standardPadding;
  background-color: $mainContentBacking;
  margin: 0 $standardPadding;
  border-radius: 1.5rem;
}

.welcome-bar {
  background-color: $lightAccentColor;
  padding: $standardPadding;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #userGreet {
    font-size: 2rem;
  }
}

.board {
  background-color: $accentColor;
  margin: 2rem 0;
  border-radius: 1.5rem;
  padding: 1rem;
  width: 100%;
}

@mixin groupBacking {
  background-color: $lightAccentColor;
  min-height: 57rem;
  text-align: center;
}

@mixin cardGrid {
  padding: $standardPadding;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $standardPadding;
}

@mixin tabShape {
  padding: 1rem;
  border: 0;
  border-radius: 1.5rem 1.5rem 0 0;
  min-height: 3rem;
}

// Main - DashBoard Content

.trips-board__group {
  @include groupBacking;

  .trips-board__group--list {
    @include cardGrid;
  }
}

.trips-board__tab-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.trips-board__tab {
  @include tabShape;

  &.active {
    background-color: $lightAccentColor;
  }
}

// Main - Booking Content

.destination-board__group {
  @include groupBacking;
  @include cardGrid;
}

.destination-board__tab {
  @include tabShape;
  background-color: $backing;
  text-align: center;
  font-size: 1.8rem;
}

// Trip Card

.tripCard {
  text-align: left;
  background-color: #fff;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  box-shadow: $standardShadow;
}

.tripCard__img {
  object-fit: fill;
  height: 10rem;
  width: 13rem;
  object-fit: cover;
  object-position: center;
  border-radius: 2rem;
  margin-right: 2rem;
}

.tripCard__info {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tripCard__location {
  font-weight: 900;
  font-size: 2rem;
}

.tripCard__date {
  font-size: 1.4rem;
  bottom: 0;
}

.tripCard__travlers {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}

.tripCard__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
  background-color: $buttonColor;
  border-radius: 1000rem;
  padding: 1.2rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    width: auto;
  }
}

// Destination Card

.destCard__price--block {
  margin-top: 4.5rem;
}

.destCard__price {
  display: inline-block;
  border-radius: 100rem;
  background-color: #f1f2f6;
  padding: 0.6rem;
  margin-right: 0.5rem;

  span {
    font-size: 1.4rem;
    color: grey;
  }
}

.form-board__group {
  @include groupBacking;
  padding: 3rem;
}

.form-wrapper {
  background-color: #fff;
  min-height: 35rem;
  max-width: 35rem;
  border-radius: 1.3rem;
  padding: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: $standardShadow;
  text-align: left;
  margin:  0 auto;
}

.destination-form {
  display: flex;
  flex-direction: column;
}

select,
input[type='date'],
input[type='number'] {
  min-height: 3rem;
  border-radius: 0.7rem;
  padding: 0 1rem;
  border: solid 2px $lightAccentColor;
}

label {
  margin-top: 1rem;
}

.close-form-btn {
  height: 2rem;
  width: 2rem;
  border-radius: 10rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
  background-color: $buttonColor;
}

.submitButton {
  min-height: 3rem;
  border-radius: 0.7rem;
  background-color: $buttonColor;
  margin-top: 2rem;
}

.date-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.date-box {
  display: flex;
  flex-direction: column;
  width: 46%;
}

// User Section

.user-section {
  width: 22%;
  border: 2px solid #34a0a4;
}

// Util

.hidden {
  display: none;
}
